<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.garpr.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/gar_pr"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/app_theme"
        tools:ignore="UnusedAttribute">

        <activity
            android:label="@string/about"
            android:launchMode="singleTop"
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.RankingsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RankingsActivity" />
        </activity>

        <activity
            android:label="@string/log_console_title_case"
            android:launchMode="singleTop"
            android:name=".activities.ConsoleActivity"
            android:parentActivityName=".activities.SettingsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label="@string/no_gorgonite_johns"
            android:launchMode="singleTop"
            android:name=".activities.GorgoniteActivity"
            android:parentActivityName=".activities.ConsoleActivity"
            android:theme="@style/gorgonite_theme"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConsoleActivity" />
        </activity>

        <activity
            android:label="@string/gar_pr"
            android:launchMode="singleTop"
            android:name=".activities.OnboardingActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/head_to_head"
            android:launchMode="singleTop"
            android:name=".activities.HeadToHeadActivity"
            android:parentActivityName=".activities.PlayerActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PlayerActivity" />
        </activity>

        <activity
            android:label="@string/player"
            android:launchMode="singleTop"
            android:name=".activities.PlayerActivity"
            android:parentActivityName=".activities.RankingsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RankingsActivity" />
        </activity>

        <activity
            android:label="@string/gar_pr"
            android:launchMode="singleTop"
            android:name=".activities.RankingsActivity" />

        <activity
            android:label="@string/regions"
            android:launchMode="singleTop"
            android:name=".activities.RegionsActivity"
            android:parentActivityName=".activities.SettingsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingsActivity" />
        </activity>

        <activity
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.RankingsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RankingsActivity" />
        </activity>

        <activity
            android:label="@string/tournament"
            android:launchMode="singleTop"
            android:name=".activities.TournamentActivity"
            android:parentActivityName=".activities.TournamentsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TournamentsActivity" />
        </activity>

        <activity
            android:label="@string/tournaments"
            android:launchMode="singleTop"
            android:name=".activities.TournamentsActivity"
            android:parentActivityName=".activities.RankingsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RankingsActivity" />
        </activity>

        <provider
            android:authorities="com.garpr.android"
            android:exported="false"
            android:name=".data.sync.SyncProvider"
            android:syncable="true" />

        <service
            android:exported="true"
            android:name=".data.sync.SyncService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <service
            android:exported="false"
            android:name=".data.sync.AccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="bd8750ba792168bfa4d0bc52e19ad83a6fad27c3" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:exported="true"
            android:name=".sync.SyncManager"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

    </application>

</manifest>
